* {
  box-sizing: border-box;
}

body {
  font-size: 13px;
  line-height: 1.7em;
  font-family: Helvetica Neue,Verdana,Arial,Hiragino Sans GB,WenQuanYi Micro Hei,Heiti SC,STHeiti,Microsoft Yahei,SimSun,sans-serif;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: Helvetica Neue,Verdana,Arial,Hiragino Sans GB,WenQuanYi Micro Hei,Heiti SC,STHeiti,Microsoft Yahei,SimSun,sans-serif;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.header {
  background: #2d3e50;
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.header .heading {
  color: white;
  font-size: 120%;
  font-weight: 600;
}

.main-container {
  position: fixed;
  z-index: 1;
  height: 88%;
  width: 100%;

  top: 0;
  left: 0;

  background-color: #eeeeee;
}

.main {
  height: 50%;
  margin: auto;
  position: absolute;

  left: 0; right: 0;
  bottom: 0; top: 100px;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.main-form {
  font-size: 20px;
  font-weight: 100;

  line-height: 1em;
  padding: 1em 1.6em;
}

.main-input { 
  line-height: 1.4em;
  text-align: center;
  margin: 0 auto;
}

.main-button {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* ------------ Landing page content view ----------- */

.content-wrapper {
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;
}

.feature-box {
  padding: 1em;
  color: #7f8c8d;
}

.feature-head {
  color: #1f8dd6;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;

  text-align: center;
}

.content-subhead {
  text-align: center;
  color: #7f8c8d;
}

.footer { 
  padding: 1em;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: white;
  background: #2d3e50;
  opacity: 0.8;
  text-align: center;
}

/* ------------- Char UI -------------- */

.chat-wrapper {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.95);
  min-height: 100%;
  min-width: 100%;
}

.chat-loading {
  position: absolute;
  width: 66%;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
}

.chat-loading > i {
  font-size: 140px;
}

.chat-loading .loading-text {
  color: #333;
  font-weight: 700;

  font-size: 1.5em;
  
  letter-spacing: 0.1em;
  padding: 3em;
}

.chat-dialog {
  position: relative;
  display: block;
  /*width: 66%;*/
  height: 100%;
  max-height: 100%;
  margin: 0 auto;

  background-color: #f0efef;

  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.chat-dialog .control-bar {
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em 0;

  margin: 0 auto;

  display: flex;
  flex-grow: 1;
}

.chat-dialog .control-bar button {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.chat-dialog .control-bar input {
  flex-grow: 1;
}

.control-bar :not(*:first-child) {
  margin-left: 0.5em !important;
}

.chat-dialog .chat-messages {
  /*background-color: #000; */

  overflow: scroll;
  max-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  
  padding-bottom: 5em;
  padding-top: 5em;
}

.chat-messages .chat-message {
  width: 100%;
  display: flex;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;

  font-size: 1.1em;
}

.chat-message-bubble {
  max-width: 66%;
  background-color: #fff;
  padding: 0.1em 0.5em;
  /* Border radius */
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px solid #000000;

  /* Shadow */
}
