doctype html
html
  head
    title WUYU - 安全聊天，不留痕迹，免费快速
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(name="description" content="安全的聊天网站")
    meta(name="keywords" content="安全,私密,聊天,一对一,加密")
    meta(name="author" content="zhming0")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    //#app Loading
    .header.pure-menu.pure-menu-horizontal.pure-menu-fixed
      a.heading.pure-menu-heading WUYU聊

    #chat-overlay

    .main-container.pure-g
      .main.pure-u-1.pure-u-md-4-5
        form.main-form.pure-form
          input.main-input.pure-u-1.pure-u-sm-2-3(placeholder='输入频道名来创建/加入频道', autofocus)
          p
            button.main-button.pure-button.pure-button-primary(type="submit") Go
        div 

    .content-wrapper
      h2.content-head 关于WUYU
      .content-subhead 一个将用户的隐私置于首位的一对一聊天小站，无广告，无记录，全程加密。WUYU怎么发音？这绝对是个迷...

      .pure-g
        .feature-box.pure-u-1.pure-u-md-1-3
          h3.feature-head 
            i.fa.fa-key.fa-fw.fa-2x
            | 安全可靠
          p 所有经过WUYU的数据都经过可靠加密，我们从不保留对话历史，无需登录不用密码，只需输入频道即可开始与小伙伴的安全聊天。
        .feature-box.pure-u-1.pure-u-md-1-3
          h3.feature-head 
            i.fa.fa-rocket.fa-fw.fa-2x
            | 快速方便
          p WUYU即开即用，无广告，无身份。
        .feature-box.pure-u-1.pure-u-md-1-3
          h3.feature-head 
            i.fa.fa-gamepad.fa-fw.fa-2x
            | 有点酷
          p 你真的需要微信吗？是不是并不想加陌生人为好友？尝尝鲜？或许WUYU正是你所需要的。

      .footer © 2016 Ming

      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-41676236-4', 'auto');
        ga('send', 'pageview');
